{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="sub-header">
        <nav>
            <a href="index.html"><img src="image/logo.png" alt=""></a>

            
            
        </nav>
        <h1>Our Certificate & Online Programs For 2024</h1>
    </section>
<!-- blog page content -->
 <section class="blog-content">
    <div class="row">
        <div class="blog-left">
            <img src="image/certificate.jpg" alt="">
            <h2>Our Certificate & Online Programs For 2024</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias reprehenderit quas magni excepturi culpa consequatur iusto earum blanditiis iste, voluptatem nesciunt itaque numquam cumque quis placeat saepe expedita voluptates accusamus.0</p>
            <br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias reprehenderit quas magni excepturi culpa consequatur iusto earum blanditiis iste, voluptatem nesciunt itaque numquam cumque quis placeat saepe expedita voluptates accusamus.0</p>
            <br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias reprehenderit quas magni excepturi culpa consequatur iusto earum blanditiis iste, voluptatem nesciunt itaque numquam cumque quis placeat saepe expedita voluptates accusamus.0</p>
            <br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias reprehenderit quas magni excepturi culpa consequatur iusto earum blanditiis iste, voluptatem nesciunt itaque numquam cumque quis placeat saepe expedita voluptates accusamus.0</p>
            
            <div class="comment-box">
                <h3>Leave a comment</h3>

                <form class="comment-form" >
                   <input type="text" placeholder="Enter Name">
                   <input type="email" placeholder="Enter Email">
                   <textarea rows="5" placeholder="Your comment"></textarea>
                   <button type="submit" class="hero-btn ,red-btn">POST COMMENT</button>
                </form>
            </div>
        </div>
        <div class="blog-right">
            <h3>Post Categories</h3>
            <div>
                <samp>Business Analytics</samp>
                <samp>26</samp>
            </div>
            <div>
                <samp>Data Science</samp>
                <samp>25</samp>
            </div>
            <div>
                <samp>Machine Learning</samp>
                <samp>19</samp>
            </div>
            <div>
                <samp>Computer Science</samp>
                <samp>16</samp>
            </div>
            <div>
                <samp>AutoCAD</samp>
                <samp>21</samp>
            </div>
            <div>
                <samp>Journalism</samp>
                <samp>14</samp>
            </div>
            <div>
                <samp>Commerce</samp>
                <samp>12</samp>
            </div>

           
        </div>
    </div>

 </section>
 {% endblock %}

