{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="sub-header">
        <nav>
            <a href="index.html"><img src="image/logo.png" alt=""></a>

            
        </nav>
        <h1>Our Courses</h1>
    </section>

<!-- ---course -->
<section class="course">
    <h1>Courses We Offer</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    
    <div class="row">
       <div class="course-col">
        <h3>Intermediate</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, at deserunt quos expedita sint perspiciatis consequatur recusandae doloribus veniam facere molestiae illum nobis fugiat velit maiores adipisci impedit veritatis nihil.</p>
       </div> 
       <div class="course-col">
        <h3>Degree</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, at deserunt quos expedita sint perspiciatis consequatur recusandae doloribus veniam facere molestiae illum nobis fugiat velit maiores adipisci impedit veritatis nihil.</p>
       </div> 
       <div class="course-col">
        <h3>Post Graduations</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, at deserunt quos expedita sint perspiciatis consequatur recusandae doloribus veniam facere molestiae illum nobis fugiat velit maiores adipisci impedit veritatis nihil.</p>
       </div> 
    </div>
</section>

<!-- facilities -->
<section class="facilities">
    <h1>Our Facilities</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="row">
        <div class="facilities-col">
            <img src="image/library.png" alt="">
            <h3>World Class Library</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim saepe dolores est tenetur. Facilis neque earum qui mollitia totam quia! Amet est at, provident libero recusandae voluptatibus quasi praesentium. Reiciendis!</p>
        </div>
        <div class="facilities-col">
            <img src="image/basketball.png" alt="">
            <h3>Largest Play Ground</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim saepe dolores est tenetur. Facilis neque earum qui mollitia totam quia! Amet est at, provident libero recusandae voluptatibus quasi praesentium. Reiciendis!</p>
        </div>
        <div class="facilities-col">
            <img src="image/cafeteria.png" alt="">
            <h3>Tasty And Healthy Food</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim saepe dolores est tenetur. Facilis neque earum qui mollitia totam quia! Amet est at, provident libero recusandae voluptatibus quasi praesentium. Reiciendis!</p>
        </div>
    </div>
 </section>

 {% endblock %}
 